/*
 ===============================
 Variables
 ===============================
 */

// $colors: "blue", "orange", "pink", "red", "yellow", "green", "purple", "black";

$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;

$primary: #543ab7;
$dark-accent: #b2405a;
$dark-accent-2: #7b6d9f;
// $light-accent: #7790b0;
$light-accent: #71a0e3;
$dark-shades: #1f1520;
$light-shades: #f4f7f4;

/*
 ===============================
 Placeholders
 ===============================
 */

%flex-stack {
  display: flex;
  align-items: center;
  justify-content: center;
}

%background {
  position: absolute;
  width: 100%;
  // height: 100vh;
  min-height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

/*
 ===============================
 Custom Syles
 ===============================
 */

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  // padding-bottom: 1rem;
  position: relative;
}

a {
  text-decoration: none;
  width: auto;
}

a:focus {
  text-decoration: none;
  width: auto;
}

.content-block {
  text-align: center;
  margin-top: 2rem;
}

.content-block--flex {
  display: flex;
  justify-content: center;
}

.content-block--flex > * {
  margin: 0 1rem;
}

/*
 ===============================
 NavBar
 ===============================
 */

.custom-nav {
  background-color: $light-accent;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 15%);
  margin-bottom: 1rem;
  justify-content: center;
}

.nav-icon {
  color: $light-shades;
  font-size: 30px;
}

.nav-container {
  margin: 0 1rem;
}

#navbar-links {
  justify-content: flex-end;
  > a {
    color: $light-shades;
    &:hover {
      color: $light-accent;
    }
  }
}

/*
 ===============================
 Title
 ===============================
 */

.title {
  color: #95a5a6;
  text-align: center;
  font: 300 40px "Lato", "Open Sans", "Helvetica Nue", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  height: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

.sub-title {
  color: #95a5a6;
  text-align: center;
  font: 300 15px "Roboto", "Open Sans", "Helvetica Nue", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 1rem auto;
}

/*
 ===============================
 Login
 ===============================
 */

.login-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.login-background {
  @extend %background;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}

.login-card {
  padding: 1rem;
  width: 25rem;
  text-align: center;
  margin: 0 auto;
  top: 10rem;
  // box-shadow: 0 2px 12px #a3b2c2;
}

/*
 ===============================
 Palette
 ===============================
 */

.palette {
  display: flex;
  flex-direction: row;

  &--names {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    > * {
      width: 20%;
    }
  }

  &--feeling-btn {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    // background-color: var(--c-bg) !important;
    // border-color: var(--c-bg) !important;
    color: $light-shades;
    width: 100%;
    transition: 0.4s ease all;
    &:hover {
      color: $light-shades;
      transform: translateX(10px);
      box-shadow: 0 2px 12px $light-accent;
    }

    &:focus {
      color: $light-shades;
      box-shadow: 0 3px 20px $light-accent;
    }
  }
}

.color-selector {
  @extend %flex-stack;
  flex-direction: row;
  flex-wrap: wrap;
}

.canvas {
  height: 11rem;
  width: 8rem;
  border-radius: 2px;
  transition: 0.3s ease all;
  // background: var(--c-bg);
}

.color-card {
  @extend %flex-stack;
  height: 12.5rem;
  width: 9rem;
  margin: 0 0.2rem;
  background-color: #fff;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease all;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 12px $light-accent;
  }
}

.save-button {
  position: absolute;
  margin-top: 5rem;
  transform: translate(-50%, -50%);
  left: 50%;
  color: $dark-accent-2;
  border-color: $primary;
  > span {
    margin-right: 1rem;
  }
  transition: 0.4s ease all;
  &:hover {
    background-color: lighten($color: $light-accent, $amount: 25%);
    color: $dark-accent-2;
    border-color: $primary;
  }
}

/*
 ===============================
 Dashboard
 ===============================
 */

.dashboard {
  @extend %background;
  // background: linear-gradient(
  //   60deg,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(29, 53, 87, 1) 58%
  // );
  background-color: $dark-accent-2;
}

/*
 ===============================
 PaletteModal
 ===============================
 */
.modal {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 30%;
  height: 90%;
  flex-direction: column;
}

@media (max-width: 768px) {
  .modal {
    width: 50%;
  }
}

/*
 ===============================
 Calendar
 ===============================
 */
.table {
  color: $light-shades;
  font-family: "Quicksand";
  text-transform: uppercase;
  // width: 45rem;
  // height: 52rem;
  background-color: $dark-shades;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  color: $light-shades;
  margin: 0 auto;
  // border-radius: 10px;
}

.month {
  width: 100%;
  height: 12rem;
  font-family: "Quicksand";
  background-color: $dark-accent;
  color: $light-shades;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;

  > i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  > h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  > p {
    font-size: 1.6rem;
  }
}

.date {
  cursor: pointer;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  > th {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    flex: 1 0 14%;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
  > td {
    font-size: 1.4rem;
    // margin: 0.3rem;
    flex: 1 0 14%;
    // text-align: center;
    // width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    &:hover {
      background-color: lighten($color: $dark-shades, $amount: 50%);
      border: 0.2rem colid #777;
      cursor: pointer;
    }
  }
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  border: 1px solid $dark-accent;
}

@media (max-width: 768px) {
  .weekdays > th {
    font-size: 1rem;
  }
  .days > td {
    font-size: 1rem;
  }
  .month {
    height: 8rem;
  }
}

/*
 ===============================
 SVG images
 ===============================
 */

.illustration {
  --c-accent: #ec3667;
  --c-dark: #3f3d56;
  --c-light: #cbcdda;
  --c-skin: #ffb9b9;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.waves-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/*
 ===============================
 Icons
 ===============================
 */

.icon {
  padding: 0 1rem;
}

/*
 ===============================
 Error
 ===============================
 */

#error {
  color: #c0392b;
}

/*
 ===============================
 Hidden Elements
 ===============================
 */

.hidden {
  display: none;
}
